<tr>
  <td>
    <input id=<%= "entrada#{n}" %>, type="datetime-local", class="calendario",
  name=<%= "entrada#{n}" %> />
  </td> 
  <td>
    <input id=<%= "salida#{n}" %>, type="datetime-local", class="calendario",
    name=<%= "salida#{n}" %> />
  </td>
</tr>
