<tr>
  <td>
    <%= tag :input, type: "datetime-local", name: "entrada#{n}", class: "calendario" %>
  </td> 
  <td>
    <%= tag :input, type: "datetime-local", name: "salida#{n}", class: "calendario" %>
  </td>
</tr>
