<h1>Calculadora de horas extras Sica</h1>
  <% n = 0 %>
<div class="table-responsive lead">
    <%= form_tag calculadora_path, method: :post do %>
  <table class="table table-striped">
    <tr>
      <td>Citacion</td>
      <td>Salida</td>
      <td>50%</td>
      <td>100%</td>
    </tr>
    <% (0..6).each do |t|  %>
      <%= render partial: 'turno', locals: { n: t} %>
    <% end %>
  </table>
  <div>
    <div>
      <input class="btn btn-success" type="submit" value="Enviar" />
    </div>
  </div>
</div>
<% end %>
<div class="">
<h6>Desarrollado por <a href="https://github.com/pauloat">Paulo Toro</a>, con el apoyo del
<a href="http://hackcoop.com.ar/">Hacklab de Barracas</a>. Copyleft 2014</h6>
