<h1>Calculadora de horas extras Sica</h1>

<table>
  <tr>
    <td>Citacion</td>
    <td>Salida</td>
    <td>50%</td>
    <td>100%</td>
  </tr>
  <tr>
    <td>
      <input id="entrada1" type="text">
        <script>
          $('#entrada1').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida1" type="text">
        <script>
          $('#salida1').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada2" type="text">
        <script>
          $('#entrada2').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida2" type="text">
        <script>
          $('#salida2').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada3" type="text">
        <script>
          $('#entrada3').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida3" type="text">
        <script>
          $('#salida3').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada4" type="text">
        <script>
          $('#entrada4').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida4" type="text">
        <script>
          $('#salida4').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada5" type="text">
        <script>
          $('#entrada5').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida5" type="text">
        <script>
          $('#salida5').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada6" type="text">
        <script>
          $('#entrada6').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida6" type="text">
        <script>
          $('#salida6').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
  <tr>
    <td>
      <input id="entrada7" type="text">
        <script>
          $('#entrada7').datetimepicker({
              controlType: 'select',
              timeFormat: 'hh:mm tt',
              stepSecond: 5
          });
        </script>
    </td>
    <td>
      <input id="salida7" type="text">
        <script>
          $('#salida7').datetimepicker({
            controlType: 'select',
            timeFormat: 'hh:mm tt',
            stepSecond: 5
          });
        </script>
    </td>
  </tr>
</table>

